* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Stick No Bills', sans-serif !important;
}

body {
  background-color: rgb(236, 236, 236);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
